# 조건문 : if

In [3]:
# 돈이 있으면 택시, 없으면 걸어서
money = False
if money:
    print("택시를 타고 가라")
else:
    print("걸어서 가라")

걸어서 가라

In [7]:
# 3000원 이상의 돈 == 택시, 아니면 걸어서가라

money = int(input("얼마있는가: "))
if money >=3000:
    print("택시를 타고 가라")
else:
    print("걸어서 가라")

얼마있는가: 50000
택시를 타고 가라

In [8]:
1 in [1,2,3]

True

In [9]:
1 not in [1,2,3]

False

In [10]:
'a' in ('a','b','c')

True

In [11]:
'j' not in 'python'

True

In [15]:
# 만약 주머니에 돈 있으면 택시 , 아니면 걸어가라

pocket = ['paper','cellphone','money']

if 'money' in pocket:
    print("택시")
else:
    print("걸어서")

택시

In [16]:
# 주머니에 돈이 있으면 가만히, 아니면 주머니에 돈이 없으면 카드를 꺼내라

pocket = ['paper','cellphone','money']


if 'money' in pocket:
    pass
else:
    print("카드를 꺼내라")

* 다양한 조건을 판단 : elif

In [20]:
# 주머니 돈 -> 택시 , 돈 없지만 카드 있으면 택시 , 돈 없고 카드 없으면 걸어가라

pocket = ['paper','cellphone','money']


if 'money' in pocket:
    print("택시를 타라")
elif 'card' in pocket:
    print("택시를 타라")
else:
    print("걸어가라")

택시를 타라

In [29]:
pocket = ['paper','cellphone','money']


if 'money' in pocket:pass
else:print("카드를 꺼내라")

* 조건부 표현식

In [43]:
score = 30

if score >= 60:
    message = "success"
else:
    message = "failure"
    
print(message)

failure

In [ ]:
message = "success" if score >= 60 else "failure"

* input 명령어

In [35]:
a = input()

4

In [36]:
a

'4'

In [39]:
a = input("값을 입력하세요. : ")
print(a)

값을 입력하세요. : 4
4

In [41]:
a = input("처음 값: ")
b = input("두번째 값 : ")
a+b

처음 값: 3
두번째 값 : 4

'34'

In [42]:
a = int(input("처음 값: "))
b = int(input("두번째 값: "))
a+b

처음 값: 3
두번째 값 : 4

7

# 반복문:for

In [44]:
test_list = ['one', 'two', 'three']

for i in test_list:
    print(i)

one
two
three

In [45]:
a = [(1,2),(3,4),(5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [78]:
# 5명의 학생 성적, 60 점 이상 -> 합격 , 그렇지 않으면 불합격

marks = [90, 25, 67, 45, 80]
a = 0
for marks in marks:
    a += 1
    if marks >= 60:
        print("%d번 학생은 합격입니다." %a)
    else:
        print("%d번 학생은 불합격입니다." %a)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [79]:
# 60점 이상은 축하메시지 , 나머지 사람은 메시지 전하지 않기

marks = [90, 25, 67, 45, 80]
a = 0
for marks in marks:
    a += 1
    if marks < 60:
        continue
    else:
        print("%d번 학생은 합격입니다." %a)

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [32]:
marks = [90, 25, 67, 45, 80]

for number in range(len(marks)):
    if marks[number] <60:
        continue
    print("%d번 학생은 합격입니다." %(number+1))

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [147]:
for i in range(2,10):
    print('====%d단====' %i)
    for j in range(1,10):
        print('%d X %d = %d'%(i, j, i*j), end = " ")
        print("")

====2단====
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
====3단====
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
====4단====
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
====5단====
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
====6단====
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
====7단====
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
====8단====
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
====9단====
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [138]:
for b in range (1,10):
    for a in range(2, 10):
        print("%d * %d = %d" %(a, b, a*b), end="\t")
    print (" ")

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [145]:
a = int(input("단을 입력하세요.:"))

for i in range(1,10):
    print("%d X %d = %d" %(a, i, a*i), end="\t")

단을 입력하세요.:3
3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 4 = 12	3 X 5 = 15	3 X 6 = 18	3 X 7 = 21	3 X 8 = 24	3 X 9 = 27

* 리스트 컴프리헨션

In [148]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num * 3)
result

[3, 6, 9, 12]

In [149]:
a = [1,2,3,4]
result = [num*3 for num in a]
result

[3, 6, 9, 12]

In [150]:
a = [1,2,3,4]
result = []
for num in a:
    if num % 2 == 0:
        result.append(num * 3)
result

[6, 12]

In [151]:
a = [1,2,3,4]
result = [num*3 for num in a if num % 2 == 0] # 곱하기 3,범위, if문
result

[6, 12]

In [ ]:
result = [x*y for x in range(2,10)
            for y in range(1,10)]

# 반복문: while

In [34]:
treeHit = 0
while treeHit <9: #조건이 참일 경우 while 문 반복
    treeHit += 1
    print("나무를 %d번 찍었습니다." %treeHit)
    if treeHit == 9:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무 넘어갑니다.

In [35]:
prompt = """
    1. 바비
    2. 조커
    3. 본투 플라이
    4. 종료
    
    번호를 입력하세요. : 
"""


num = 0
while num !=4:
    print(prompt)
    num = int(input())

    1. 바비
    2. 조커
    3. 본투 플라이
    4. 종료

    번호를 입력하세요. :

4

In [37]:
# 돈이 있을 경우 커피 하나 나오고 다 팔렸을 경우에 판매중지


coffee = 10
money = 300

while money >= 300:
    coffee -= 1
    print("%d잔 남았습니다" %coffee)
    if coffee == 0:
        print("다 팔렸습니다.")
        break

9잔 남았습니다
8잔 남았습니다
7잔 남았습니다
6잔 남았습니다
5잔 남았습니다
4잔 남았습니다
3잔 남았습니다
2잔 남았습니다
1잔 남았습니다
0잔 남았습니다
다 팔렸습니다.

In [38]:
coffee = 10


while True:
    money = int(input())
    if money > 300:
        coffee -= 1
        print("%d잔 남았습니다." %coffee)
        print("거스름돈 %d원 드리겠습니다." %(money-300))
    elif money == 300:
        coffee -= 1
        print("%d잔 남았습니다." %coffee)
    else:
        print("잔액이 부족합니다.")
        print("%d잔 남았습니다." %coffee)
        
        
    if coffee == 0:
        print("다 팔렸습니다.")
        break

5000
9잔 남았습니다.
거스름돈 4700원 드리겠습니다.

KeyboardInterrupt: Interrupted by user

#####

# random(난수)

In [39]:
import random


# 0~1미만의 실수를 난수로 발생

for i in range(5):
    print(random.random())
print("=" * 30)

0.9994832763802644
0.7313295838664369
0.9807540473472668
0.6207703267079541
0.5595630527356031
==============================

In [40]:
# 특정 범위의 실수를 난수로 생성
for i in range(5):
    print(random.uniform(1,100))

6.911016104259362
2.6110392645983502
13.677538663352443
68.67557812262288
61.88177659935657

In [41]:
# 특정 범위의 정수를 난수로 생성

for i in range(5):
    print(random.randint(1,100))

61
88
31
8
6

In [43]:
# 특정 범위를 정수를 step 를 더해서 난수로 생성

for i in range(5):
    print(random.randrange(1,100,10))

41
71
21
61
71

In [84]:
#1~45까지의 랜덤 숫자 6개 추출
import random

result = []

for i in range(6):
    a = random.randint

In [76]:
a = "Life is too short, "

In [77]:
# 3의 배수의 합
a = 1
result = 0

while a <= 1000:
    a+=1
    if a % 3 == 0:
        result = result + a #누적합 -> result = result + i

        
print(result)

166833

In [78]:
# 3의 배수 and 5의 배수의 합을 구하시오 --> 15

a = 1
result = 0

while a <= 1000:
    a+=1
    if a % 3 and a % 5 == 0:
        result = result + a #누적합 -> result = result + i

        
print(result)

67335

In [79]:
a = 0
while a <5:
    a += 1
    print((a+1) * "*")

**
***
****
*****
******

In [80]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [81]:
a = [70,60,55,75,95,90,80,80,85,100]
total = 0
for score in a:
    total = total + score
total / len(a)

79.0

In [82]:
numbers = [1,2,3,4,5]
result = [n*2 for n in numbers if n % 2 == 1] # 곱하기 3,범위, if문
print(result)

[2, 6, 10]

In [83]:
for i in range(8-1,-1,-1):
    print(i)

7
6
5
4
3
2
1
0