* type 1: 입력값(매개변수, 파라메터) / 결과(리턴)값이 없는 함수

In [1]:
def say():
    print("hi")
    
say()

hi

* 입력값만 있는 함수

In [3]:
def add(a,b):
    result = a+b
    print(result)
    
add(3,4)

7

* 결과값만 있는 함수

In [31]:
#def say():
#    print('hi')

#say()


def say():
    return 'hi'


a = say()
print(a)

hi

In [21]:
def cal(choice, a,b):
    result = 0
    if choice == 0: # add
        result = a+b
    elif choice == 1: #mul
        result = a*b
    elif choice == 2: #div
        result = a/b
    else:
        result = a-b
        
    return result

    
res = cal(1,2,3)
print("결과값은"+str(res)+"입니다.")

결과값은6입니다.

* 입력값과 결과값이 있는 함수

In [22]:
def add(a,b):
    result = a+b
    return result

c = add(3,4)

print(c)

7

* 예외1: 입력값만 있는 함수

In [32]:
def add(a,b):
    result = a + b #리턴 값이 없음.

c = add(3,4)
print(c)

None

* 예외2: 매개변수 지정하여 호출

In [38]:
def add(a,b):
    return a+b

result = add(a=3,b=7)
print(result)

10

In [39]:
result = add(b=7, a=3)
print(result)

10

* 입력값이 몇 개일지 모를 때

In [44]:
def add_many(*args):
    print(args)
    
result = add_many(1,2,3)

(1, 2, 3)

In [43]:
result = add_many(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [49]:
def add_many(*args):
    print(args) #args 범위 알려주는 프린트
    result = 0
    for i in args: # args 범위에
        result = result + i #누적값 더하기
    return result #리턴


result = add_many(1,2,3) #y = f(x)
print(result)

(1, 2, 3)
6

In [50]:
result = add_many(1,2,3,4,5,6,7,8,9,10) 
print(result) # 모든 값더하기

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
55

In [64]:
def add_mul(choice, *args): 
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result
    
d = add_mul("mul",2,3,4)
print(d)

96

In [65]:
#키워드 매개변수

def print_kwargs(**kwargs):
    print(kwargs)
    
print_kwargs(a=1)

{'a': 1}

In [66]:
print_kwargs(name = 'foo', age=3)

{'name': 'foo', 'age': 3}

* return 스타일

In [67]:
def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
result

(7, 12)

In [70]:
result1, result2 =add_and_mul(3,4)
print(result1)
print(result2)

7
12

In [71]:
def add_and_mul(a,b): #리턴은 하나밖에 사용 안됨
    return a+b
    return a*b

result = add_and_mul(3,4)
result

7

In [74]:
def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은 %s입니다." %nick)
    
say_nick("야호")

나의 별명은 야호입니다.

In [76]:
say_nick("바보")

* 매개변수에 초기값 미리 설정

In [81]:
def say_myself(name,age,man=True): #성별을 미리 설정함.
    print("나의 이름은 %s 입니다" %name)
    print("나이는 %d살 입니다." %age)
    
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
        
say_myself("최종규",26)

나의 이름은 최종규 입니다
나이는 26살 입니다.
남자입니다.

In [83]:
say_myself("최종규",26,False)

나의 이름은 최종규 입니다
나이는 26살 입니다.
여자입니다.

In [84]:
say_myself("최종규",26,True)

나의 이름은 최종규 입니다
나이는 26살 입니다.
남자입니다.

In [85]:
def say_myself(name,man=True,age): #초기값은 맨 뒤에 넣어야됨.
    print("나의 이름은 %s 입니다" %name)
    print("나이는 %d살 입니다." %age)
    
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
        
say_myself("최종규",26)

SyntaxError: non-default argument follows default argument (734814381.py, line 1)

* 함수 안에서 선언한 변수의 효력 범위

In [89]:
a = 1
def vartest(a):
    a = a+1
    
vartest(a)
print(a)

1

* 함수 안에서 함수 밖의 변수를 변경하는 방법

In [88]:
# 1. return

a = 1

def vartest(a):
    a = a+1
    return a

a = vartest(a)
print(a)

2

In [90]:
# 2. global 명령어 사용하기

a = 1
def vartest():
    global a  # 이름이 같으면 밖에서 선언된 a가 안쪽으로 들어올수있음
    a = a+1

vartest()
print(a)

2

* lambda 함수

In [91]:
'''

def add(a,b):
    return a+b

'''
#함수명 #매개변수     #return 값
add = lambda a,b: a+b
result = add(3,4)
print(result)

7

# 파이썬 코딩 규칙
* 들여쓰기는 4스페이스
* 한줄코딩은 79자 내외
* 불필요한 공백 피하기
* 변수명, 함수명을 사용할 경우 _(언더스코어)를 사용해서 단어들을 연결
* 함수명은 소문자로 작성하고 되도록 짧게 작성
* 함수 이름에 역할과 의도가 명확할 것
* 함수는 하나의 기능만 명확히 구현
* 공통의 기능을 하나의 함수로 작성

In [213]:
movies = ["Dark knight", "Harry Porter","Parasite","Matrix","La La Land"]

print()
print("======================영화목록========================")
# 영화 목록을 출력하는 반복문
for a in movies:
    print(a)
    



print("====================================================")

choice = input("예매하실 영화를 선택해주세요. : ")


while choice not in movies:
    print("예매할 수 없는 영화입니다.")
    choice = input("예매하실 영화를 선택해주세요. : ")
    
print("%s를 선택하셨습니다." %choice)



# 두번째 과제


check = False

while (not(check)):
    try:
        people = int(input("관람 인원 수를 입력해주세요. : "))
        if people < 0:
            print("관람 인원 수는 양수만 가능합니다.")
        else:
            print("관람 인원 수는 %d명 입니다." % people)
        check = True  
    except ValueError:
        print("정수를 입력하세요.")
        
# 세번째 과제

coupon_dic = {'WELLCOME':2000,'VALENTINE':3000,'CHRISTMAS':4000, 'INDEPENDENCE':5000}

process = True



while process:
    usage = input("할인권을 사용하시려면 Y, 금액 확인으로 넘어가시려면 N를 입력해주세요. : ")
    if usage == "Y":
        coupon = input("쿠폰 번호를 입력해주세요. : ")
        if coupon in coupon_dic:          # 쿠폰 딕셔너리에서 사용자가 입력한 쿠폰이 있다면 
            sale = coupon_dic[coupon]     # 쿠폰 딕셔너리 할인된 값
            print(f"{sale}원의 할인이 적용됩니다.")
        else:
            print("존재하지 않은 쿠폰입니다.")
            usage = input("할인권을 다시 입력하려면 Y, 아니면 N를 입력해주세요.")
            if usage == "N":
                process = False
            
            
            
    elif usage == 'N':
        print("할인을 적용하지 않았습니다.")
        process = False 

    else:
        print('잘못된 입력입니다. 할인을 원하시면 Y를 입력하고, 원하지 않으면 N을 입력하세요.')

# 네번째 과제


origin_price = peaple*12000
sale_price = peaple*sale
total_price = origin_price -  sale_price


print("")
print("<예매 상세 내역>")
print("===================")
print("영화 제목: %s" %choice)
print("관람 인원수: %s" %peaple)
print("합산 금액: %s" %origin_price)
print("할인 금액: %s" %sale_price)
print("-------------------")
print("총 가격: %s" %total_price)
print("===================")

======================영화목록========================
Dark knight
Harry Porter
Parasite
Matrix
La La Land
====================================================
예매하실 영화를 선택해주세요. : Dark knight
Dark knight를 선택하셨습니다.
관람 인원 수를 입력해주세요. : 4
관람 인원 수는 4명 입니다.
할인권을 사용하시려면 Y, 금액 확인으로 넘어가시려면 N를 입력해주세요. :
잘못된 입력입니다. 할인을 원하시면 Y를 입력하고, 원하지 않으면 N을 입력하세요.
할인권을 사용하시려면 Y, 금액 확인으로 넘어가시려면 N를 입력해주세요. : Y
쿠폰 번호를 입력해주세요. : WELLCOME
2000원의 할인이 적용됩니다.
할인권을 사용하시려면 Y, 금액 확인으로 넘어가시려면 N를 입력해주세요. : N
할인을 적용하지 않았습니다.

<예매 상세 내역>
===================
영화 제목: Dark knight
관람 인원수: 5
합산 금액: 60000
할인 금액: 2000
-------------------
총 가격: 58000
===================

In [1]:
a = input("문자를 입력하시오.: ")

result = a[::-1]
print("%s" %result)

3

In [2]:
a = input("문자를 입력하시오.: ")

reverse_a = a[::-1]
print(reverse_a)

#문자열이 5일경우 01234 <- 0이 4, 1이 3, 2,2 이런 식으로 배열 바꾸기

In [3]:
class Item:
    def __init__(self, name, price):
        self.name = name
        self.price = price

    def display_info(self):
        print(f"물건: {self.name}, 가격: {self.price}원")

# 클래스를 이용하여 객체(물건) 생성
item1 = Item("책", 15000)
item2 = Item("컴퓨터", 1000000)

# 객체의 정보 출력
item1.display_info()
item2.display_info()

물건: 책, 가격: 15000원
물건: 컴퓨터, 가격: 1000000원

In [4]:
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num

    def subtract(self, num):
        self.result -= num

    def display_result(self):
        print(f"결과: {self.result}")

# Calculator 클래스를 이용하여 객체 생성
calc = Calculator()
calc.add(5)
calc.subtract(3)
calc.display_result()

결과: 2

In [10]:
str1 = input("문자열을 입력하시오: ") #asdf ---> fdsa
str1_reverse = ''

for char in str1: #  str1 = 4... 0 1 2 3 
    str1_reverse = char + str1_reverse
    
print(str1_reverse)

fdsa